@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
:root{
    --primary:#1C274C;
    --primary-rgba:rgba(28, 39, 76,.3);
    --white:white;
    --green:rgb(4, 255, 117) ;
    --gold:gold;
    --box-shadow:rgb(89, 89, 89);
    --box-shadow-rgba:rgb(187, 187, 187);
    --step-0: clamp(1.13rem, calc(0.58rem + 2.47vw), 2.50rem);
}
.dark-mode {
    --white: black;
    --primary: white;
    --green:rgb(4, 255, 117) ;
    --gold:gold;
    --box-shadow-rgba:rgb(187, 187, 187);
  }
body{
    background-color: var(--white);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.btn{
    height: 40px;
    width: 40px;
}
.setting-cont{
    z-index: 20;
    background-color: var(--white);
    display: none;
    width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow:0 0 10px 1px var(--primary-rgba) ;
    border-radius: 20px;
    padding: 25px;
}
.number-of-letters{
    margin-top: 50px;
    width: 100%;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
.dm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.dm>h2{
    color: var(--primary);
}
.word-length{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.len-btn{
    width: 10%;
    height: 50px;
    font-weight: 600;
    font-size: 1.5em;
    background-color: var(--white);
    border: 1px solid var(--box-shadow-rgba);
    border-radius: 5px;
    color: var(--primary);
    transition: all 250ms linear;
}
.len-btn:hover{
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
}

.wrong{
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    background-color: var(--white);
}

.nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-basis: 1;
    gap: 10px;
    padding: 10px 0;
}
.settings{
    margin-left: auto;
    background-color: var(--white);
    border: none;
    margin-right: 20px;
}
.logo{
    color: var(--primary);
    font-size: 2.5rem;
    margin-left: 20px;
}
.box{
    max-width: 60px;
    aspect-ratio: 1;
    border-radius: 25%;
    border: 2px solid var(--box-shadow-rgba);
    color: var(--primary);
    font-size: var(--step-0);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms linear;
}
#container{
    width: 90%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.try{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.gameOver{
    z-index: 13;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    height: 1px;
    transform: translate(-50%,-50%);
    box-shadow:0 0 10px 1px var(--primary-rgba) ;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    transition: all 150ms linear;
    visibility: hidden;
    overflow: hidden;

}
.api-word{
    font-size: 2.5rem;
    color:var(--green);
}
.play{
    padding: 10px 25px;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 5px;
    border:none;
}
.word,.guess-word{
    height: 1px;
    z-index: 10;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    color: var(--primary);
    transform: translate(-50%,-50%);
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow:0 0 10px 1px var(--primary-rgba) ;
    transition: all 150ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow: hidden;
}
.keyboard{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    padding-left: 10px;
    padding-right: 10px;
}
.row{
    width:100%;
    display: flex; 
    justify-content: center;
    gap: 4px;
}
.key{
    padding-left: 2px;
    padding-right: 2px;
    width: 65px;
    height: 45px;
    background-color: var(--white);
    color: var(--primary);
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--box-shadow-rgba);
}
.enter{
    font-size: .8rem;
    width:50px
}
.round{
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary);
}
.dark-btn{
    padding:3px;
    background-color: var(--white);
    border-style: none;
    border: 2px solid var(--primary);
    width:50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    transition: flex-direction 200ms linear;
}
svg{
    width: 40px;
    height: 40px;
}
body.dark-mode svg{
    fill:white;
}
body.dark-mode svg path{
    fill:white;
}














.bgcolor-grey{
    background-color: var(--box-shadow-rgba);
    color: white;
    border: 2px solid var(--box-shadow-rgba);
}
.bgcolor-yellow{
    background-color:var(--gold);
    color: white;
    border: 2px solid var(--gold);
}
.bgcolor-green{
    background-color:var(--green) ;
    color: white;
    border: 2px solid var(--green);
    transform: rotateX(360deg);
}
.selected-len{
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
}
.visible{
    display: block;
}
.vis{
    height: 100px;
    visibility: visible;
}
.posi{
    display: flex;
    flex-direction: row-reverse;
}
.trans{
    animation : animateBox 250ms ease-in ;
}
@keyframes animateBox{
    0%{
    }
    
    25%{
        scale: .8;
    }
    50%{
        scale:1;
    }
    75%{
        scale: 1.1;
    }
    100%{
        scale:1;
    }

}
@media(width <600px){
    .try,#container{
        gap:5px;
    }
    #container{
        margin-top: 20px;
    }
    .settings{
        width: 35px;
        height: 35px;
    }
    .logo{
        font-size: 1.8rem;
    }
    .gameOver,.word,.guess-word{
        width:75%;
    }
    .setting-cont{
        width: 80%;
    }
    .len-btn{
        font-size: 1.2rem;
        height: 40px;
    }
}
@media(width <400px){
    .try,#container{
        gap:4px;
    }
    .logo{
        font-size: 2rem;
    }
    .row{
        gap: 2px;
    }
    .key{
        font-size: .75rem;
    }
}

